root = true

[*.{js,ts,vue,jsx,tsx,json,jsonc}]
indent_style = tab
indent_size = 2

[*.{html,css}]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4

[*.ml]
indent_style = space
indent_size = 2
