[user]
    name = alexis-moins
    email = sinus.nacre0v@icloud.com

[init]
    defaultBranch = main

[core]
    editor = nvim
    pager = delta

[delta]
    tabs = 6
    side-by-side = true
    ; line-numbers = true

    navigate = true
    file-modified-label = "~"

    syntax-theme = Catppuccin-macchiato

    plus-style = syntax "#3b474a"
    minus-style = syntax "#48384b"

    line-numbers-plus-style = "#a6da95"
    line-numbers-minus-style = "#ed8796"

    plus-emph-style = "#a6da95" ul "#3b474a"
    minus-emph-style = "#ed8796" ul "#48384b"

[diff]
    colorMoved = default
	mnemonicPrefix = true

[color "diff"]
    meta = bold black

[difftool]
    prompt = true

[diff]
    tool = nvimdiff

[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[merge]
    conflictstyle = diff3

[mergetool]
    prompt = false
    keepBackup = false

[rerere]
    enabled = 1

[alias]
    ci = commit
    force = !git amend && git push -f

    sw = switch
    b = branch
    bd = branch -d
    bl = branch --all --format '%(color:red)%(HEAD)%(color:white) %(align:30)%(refname:short)%(end) %(align:30)%(color:blue)%(upstream:short)%(color:white) %(color:magenta)%(upstream:track)%(color:white)%(end)'
    bm = branch --move

    rs = restore

    d = diff
    ds = diff --staged
    da = diff HEAD

    l = log --all --graph -n 15
    ll = log --all --graph

    st = "status"

    amend = commit --amend --no-edit
    ignore = !git rm -r --cached . && git add -A

    this = !git init && git add -A && git commit -m 'feat: initial commit'
    oops = !git stash && git switch -c oops && git stash pop

[format]
    pretty = format:%C(auto)%h [%D] %C(brightblue)%an%C(reset) %s %C(bold black)%cr%C(reset)

[push]
    autoSetupRemote = true

[remote "origin"]
    prune = true
[pull]
	rebase = true
