# vim
*.swp
viminfo*
**/nvim/spell/

# Brew lock
Brewfile.lock.json

# Directories used by (neo)vim package managers
**/vim/plugged/
**/nvim/plugin/

# misc
.DS_Store
.config/gh/hosts*

# zsh
.zsh_history
.zsh_sessions/
