# vim
*.swp
viminfo
.vim-session
undo-history/

# Directory used by vim-plug to add plugins
plugged/

# misc
.DS_Store

# fish:
# exclude the completions and functions folder as they get
# filled by elements from fish plugins
**/fish/completions

# zsh
.zsh_history
.zsh_sessions/
